html, body {
    background-color: #827974;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: Arial;
    font-weight: 900;
    color: #EEEEEE;
    text-align: center;
}

.header {
    background: url(https://i.imgur.com/t41xqdp.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin: 0px;
}

.header h1 {
    background-color: #000000;
    filter: alpha(opacity=30);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
    -moz-opacity: 0.30;
    opacity: 0.75;
    width: 100%;
    height: 30%;
    margin: 0px;
    padding: 10px;
    overflow-x: hidden;
    font-size: 115px;
    color: #FFFFFF
}

h2 {
    font-size: 42px;

p {
    font-size: 18px;
}
    
.table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

