html, body {
    background-color: #000000;
}

.header {
    background: url(./images/sam-beasley-500154.jpg) no-repeat center center;
    background-size: cover;
    height: 800px;
    text-align: center;
}

p {
  color: white;
}
